body{
    /* background-image: url("https://i.imgur.com/Zt7gRew.gif"); */
    background-image: url("https://i.imgur.com/sMe6nlU.jpeg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
}

.gameName{
    text-align: center;
    color:mintcream;
}

.tally{
    color: rgb(180, 241, 211);
    margin-left: 500 px;
}

.refresh{
    text-align: center;
    padding-top: 40px;
}

.audioPlayer{
    padding-bottom: 80px;
    width: 500px;
    margin: auto;
    position: relative; 
   
}

.gameAudio{
    padding: 20px;
    align-items: center;
}
