img{
    height: 230px;
    width: 150px;
    margin: 2px; 
    
}

h2,p{
    text-align: center;
    text-shadow: 50px;
    color: rgb(193, 119, 14);
    margin: 0px;
    padding: 0px;

}


.grid { 
    width: 90%; 
    height: 300px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 60px auto; 
} 

.data { 
     display: flex; 
    justify-content: space-between; 
    padding: 20px 30px; 
    font-size: 23px; 
    /* color: #510200;  works on left side not on right side */
    /* color: #734C81; pleands in to much cant see  */
    /* color: #2F4858;  get reid of */
    /* color: #C44747; */
    color: #38BEAC;
    color: #F334AF;
    color:#87175E;
    color: #EC992A;
} 

body{
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/49221336-8f7e-4184-9854-c26cc4b8c67f/ddf7h7j-de5beacd-f807-41eb-b078-a7d4293e5275.jpg/v1/fill/w_1024,h_586,q_75,strp/gods_among_us_by_jsraphael57_ddf7h7j-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTg2IiwicGF0aCI6IlwvZlwvNDkyMjEzMzYtOGY3ZS00MTg0LTk4NTQtYzI2Y2M0YjhjNjdmXC9kZGY3aDdqLWRlNWJlYWNkLWY4MDctNDFlYi1iMDc4LWE3ZDQyOTNlNTI3NS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.BEooErhutldBmFR90Oca7C0dWKPuCjeL0vOPW5RcG_c");
    background-size: 100%;
}
   
.reset{
    display: flex;
    align-self: center;
    padding: 0px;
    margin: 0px;
   

}